/*
    Global Page Settings
 */

.container-fluid {
    width: 85%;
}

.ink-navigation
{
    margin-bottom: 2%;
}

/*Sets the background images to the body*/
body {
    background: url("../images/simpleBG.png");

    /* Center and scale the image nicely */
    background-size: cover;

    font-family: "Times New Roman";
}

/*ink grid system settings*/

.ink-grid{
    width: 100%;
    max-width: 100%;

    padding: 0;

    margin-top: 1%;
}


#navBar
{
    margin-left: 0;
    margin-right: 0;
}


.breadcrumbs
{
    text-align: end;

    margin-right: 5%;

}


.userBox
{
    margin-right: 5%;
}

/*Nav bar settings*/

#titleCompany small {
    color: black;
}

#titleCompany {
    font-size: 2em;
}

#titleCompany small:before {
    content: "|";
    margin: 0 0.5em;
    font-size: 1.6em;
}

/*footer settings*/

footer {
    background: #ccc;
}

.panel-title {

    font-weight: bold;

}

/*Panel Bodies*/


/*This changes the looks and heading of both Details*/
/*and existing customer panels*/

#details, #existingCustomer, #renewingLicenseBox {
    overflow: hidden;

    background-color: #c2c8cc;

}

#renewingLicenseBox
{
    margin-bottom: 10%;
}

.panel-primary>.panel-heading, .panel-primary {

    background-color: #7f8488;
    border-color: #7f8488;
}

/*Text Fonts*/
.display-2 {
    font-size: 40px;
}

.display-3, .display-4 {
    font-size: 20px;
}


/*Table settings*/

th {
    font-weight: bold;
}

.dataTables_filter
{
    float: right;
}

.text-muted
{
    font-size: 13px;

}


/*details settings*/

#add-user, #update-user, #delete-user
{
    float: right;

    margin-left: 2%;
}


.clearfix{

    padding: 2%;

    text-align: center;

    margin-top: 1.75%;
}

.selected {

    background-color: #7dbbd1 !important;

}

.navbar-toggle.pull-left
{
    margin-left: 5%;
}

/*Mobile Responsiveness*/

@media screen and (max-width: 1260px) and (min-width: 961px) {

    .ink-grid {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

}


@media screen and (min-width: 1261px) {
    .ink-grid {
        width: 100%;
        max-width: 100%;
        padding: 0;

    }

}

@media screen and (max-width: 960px) and (min-width: 641px) {

    .ink-grid {
        width: 100%;
        max-width: 100%;
        padding: 0;

    }

}

@media screen and (max-width: 768px) {


    /*Sets the background images to the body*/
    body {
        /* Center and scale the image nicely */
        background-size: 100% 100%;

        background-repeat: no-repeat;

    }

    .side-collapse-container{
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        top:50px;
        bottom:0;
        left:0;
        width:100%;
        overflow:hidden;
        transition:width .4s;
    }
    .side-collapse.in {
        width:0;
        height: 0;
        overflow: hidden;
    }




}

@media screen and (max-width: 768px) and (min-width: 480px) {

    #titleCompany {
        font-size: 1.5em;
    }

    nav
    {
        font-size: 85%;
    }

    .panel-title
    {
        font-size: 85%;
    }

    .panel-body
    {
        font-size: 85%;
    }

    #table1_wrapper
    {

        font-size: 85%;

    }

    .side-collapse-container{
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        top:50px;
        bottom:0;
        left:0;
        width:100%;
        overflow:hidden;
        transition:width .4s;
    }
    .side-collapse.in {
        width:0;
        height: 0;
        overflow: hidden;
    }

}


@media screen and (max-width: 480px){

    #titleCompany {
        font-size: 1.25em;
    }

    nav
    {
        font-size: 75%;
    }

    .panel-title
    {
        font-size: 75%;
    }

    .panel-body
    {
        font-size: 75%;
    }

    #table1_wrapper
    {

        font-size: 75%;

    }

    .col-sm-6 {
        width: 50%;

        float: left;
    }

    .side-collapse-container{
        width:100%;
        position:relative;
        left:0;
        transition:left .4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        top:50px;
        bottom:0;
        left:0;
        width:100%;
        overflow:hidden;
        transition:width .4s;
    }
    .side-collapse.in {
        width:0;
        height: 0;
        overflow: hidden;
    }


}





